@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    text-transform: capitalize;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.intro img {
    width: auto;
    max-width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
    filter: brightness(1.1) saturate(1.5) contrast(1.1);
}


body.scroll {
    overflow: auto;
}

body {
    background-color: #ffffff;
    overflow: hidden;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 3rem;
    height: 60px;
    box-shadow: inset 0 -1px 0 #e6e6e6;
    /* border: 1px solid black; */
    align-items: center;

}

.logo img {
    height: 50px;
}

.menuicon {
    display: none;
}

.nav-menu {
    width: auto;
    display: flex;
    height: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-menu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.nav-menu span {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.nav-menu a:hover {
    color: #7c3971;
    /* font-weight: bold; */
    transition: all 0.3s ease-in;
}

.search-bar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar #search {
    width: 80%;
    border: none;
    padding: 1px 25px;
    outline: none;
    text-transform: lowercase;
    font-size: medium;
    border-bottom: 1px solid black;
}

.search-bar #search-icon {
    position: relative;
    left: 20px;
    align-items: center;
}

.search-bar button {
    width: auto;
    padding: 3px 15px;
    color: white;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #7c3971;
}

main .slider {
    width: 90%;
    margin: 2rem 5%;
}

main .slider .images {
    height: 350px;
    overflow: hidden;
}

main .slider .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    margin-bottom: 1rem;
}

/* cart mobile display none in laptop view */
.cart-mobile {
    display: none;
}

/* cart floating */

.cart {
    background-color: #7c3971;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    /* border: 1px solid black; */
    height: calc(100vh - 10%);
    /* background-color: #ffffff; */
    box-shadow: -10px 10px 16px rgba(0, 0, 0, 0.926);
    transition: 0.8s;
    white-space: nowrap;
    right: 0;
    overflow: hidden;
}

.cart>* {
    margin: 10px;
}

.cart.active {
    right: 0;
    width: 20%;
}

/* cart heading my cart */

.mycart {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #ffffff;
}

/* cart items styling */

.cart .cart-items {
    height: 80%;
}

/* cart close styling */

.cart .close {
    width: 100%;
    position: relative;
    height: 5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cart .close a {
    background-color: red;
    width: 100%;
    text-decoration: none;
    font-size: 20%;
    color: white;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart .close a:hover {
    color: greenyellow;
}

/* hero section */
.hero {
    width: 90%;
    height: auto;
    margin: 2rem 5%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.hero section {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.hero :first-child {
    width: 70%;
}

.hero .hero-img {
    width: 30%;
}

.hero .hero-img img {
    width: 230%;
    box-sizing: border-box;
}

.hero section h1 {
    width: 100%;
    font-size: 60px;
    white-space: nowrap;
    margin: 7rem 3rem 1rem 3rem;
    text-transform: capitalize;
}

.hero #off {
    margin: 1rem 3rem 1rem 3rem;
    font-size: 50px;
}

.hero section p {
    font-size: 30px;
    margin: 0 3rem;
}

.hero section button {
    width: 30%;
    height: 50px;
    margin: 3rem 20% 3rem 30%;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #7c3971;
    color: white;
    border-radius: 4px;
}

.hero section button:hover {
    scale: calc(1.05);
}


/* product styling */

.products,
.products-2 {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heading {
    width: 100%;
    font-size: 2vw;
}

/* product styling */

.produtcs {
    width: 100vw;
    margin: 5vw;
    display: flex;
    flex-direction: row;
}

.heading {
    width: 100%;
    color: black;
}

.product {
    display: flex;
    flex-direction: row;
    width: 25%;
    box-sizing: border-box;
    padding: 1%;
}

.product .name {
    width: 15%;
    background-color: black;
    text-orientation: upright;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.product .name h4 {
    text-orientation: upright;
    rotate: calc(270deg);
    width: auto;
    height: auto;
    white-space: nowrap;
    /* overflow: hidden; */
}

.product .description {
    display: flex;
    background-color: #E3F8FF;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding: 5% 2% 0 2%;
}

.product .description:hover {
    background-color: #FFE8DF;
}

.product .description .image img {
    width: 100%;
    height: auto;
}

.product .description .image {
    width: 100%;
    height: 100%;
    margin: 1%;
    box-sizing: border-box;
    padding: 1%;
}

.product .description .image img:hover {
    scale: calc(1.05);
    filter: drop-shadow(1px 1px 2px black);
}

.product .description .price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin-bottom: 7%;
}

.product .description .price>svg {
    height: 20px;
}

.product .description .price h4 {
    font-size: medium;
    margin: 0;
}

.product .description .price pre {
    font-size: small;
}

.product .description .price .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Category page styling */

.category-body {
    overflow: auto;
    height: 100%;
}

.category-heading {
    display: flex;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.category-heading img {
    height: 100%;
}

.category {
    background-color: rgba(0, 0, 255, 0.758);
    color: white;
    width: 100vw;
    /* margin:0 5vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category h4 {
    cursor: pointer;
    text-shadow: 3px 3px 1px black;
    font-size: auto;
}

.category h4:hover {
    /* background-color: aliceblue; */
    /* color: red; */
    letter-spacing: 1px;
}


.category hr {
    max-width: 1px;
}

/* footer */

footer {
    width: 100%;
    background-color: #1f1f1f;
    height: 50vh;
    box-sizing: border-box;
    padding: 5%;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer div {
    width: 20%;
    color: white;
    font-weight: bold;
}

.footer div a {
    text-decoration: none;
    color: white;
    width: auto;
    white-space: nowrap;
}

.footer div a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.footer div .transparent {
    color: rgba(255, 255, 255, 0.507);
}

.footer div .transparent:hover {
    text-decoration: none;
    cursor: default;
}

.footer div li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer hr {
    margin: 0 1rem;
}

.footer .social svg {
    height: 30px;
    margin-right: 1rem;
}

.footer .social svg:hover {
    color: blue;
}



/* searched html page */

.no-results {
    display: none;
    width: 90%;
    height: 70vh;
    text-align: center;
    font-weight: 600;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


*::-webkit-scrollbar {
    display: none;
}

/* product page styling */

.product-page {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.product-page nav h2 a {
    font-family: 'great vibes', cursive;
    text-decoration: none;
    color: black;
}

.product-main {
    width: 100%;
    box-sizing: border-box;
    padding: 5% 1%;
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* overflow: hidden; */
}

.product-main .product-needs {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80vh;
    flex-wrap: wrap;
}

.product-main .image {
    position: relative;
    box-sizing: border-box;
    padding: 1% 1%;
    border-radius: 20px;
    height: auto;
    max-height: 80vh;
    width: 50%;
}

.product-main .image img {
    width: 100%;
    border-radius: 20px;
}

.product-main .image img:hover {
    scale: calc(1.01);
    filter: drop-shadow(1px 5px 5px black);
}

.product-main .arrow-button {
    position: absolute;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
}

.product-main .arrow-button svg {
    height: 20px;
    border: 6px solid #e6e6e6;
    border-radius: 50%;
    padding: 20px;
}

.product-main .product-needs .product-information {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1%;
    overflow: scroll;
    width: 50%;
    height: 80vh;
}

.product-main .product-information .description {
    display: flex;
    flex-direction: column;
}

.product-main .product-information .description .product-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 20px;
}

.product-price del {
    margin: 0 10px;
    opacity: .3;
    color: #000;
    font-size: 22px;
}

.product-price h1 pre {
    font-size: 22px;
    color: #388E3C;
    text-transform: lowercase;
}

.product-rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 10px;
}

.product-rating>:first-child {
    background-color: #388E3C;
    color: #ffffff;
    padding: 2px 15px;
    font-weight: bolder;
}

.product-rating>:last-child {
    color: black;
    opacity: .5;
    font-weight: bolder;
    padding: 2px 0;
    font-size: larger;
}

.product-rating .icon {
    color: white;
    font-size: 15px;
    opacity: 1;
    fill: white;
    margin: 0 1px;
    align-items: center;
}

.product-main .descr {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
    word-spacing: 5px;
}

.product-main .descr p {
    font-size: larger;
    font-weight: 800;
}

.product-main .buynow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0 0 0;
}

.product-main .buynow button {
    width: 50%;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #7c3971;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-main .buynow>:first-child {
    background-color: #FB641B;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
}

.product-main .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}

.product-page .product {
    min-width: 230px;
}

.reviews p {
    font-weight: 700;
    color: black;
    font-size: larger;
    margin-right: 10px;
}

.reviews .star {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
}

.star>p {
    font-size: xx-large;
}

.star>:first-child {
    background-color: #388E3C;
    color: #ffffff;
    padding: 2px 15px;
    font-weight: bolder;
    margin: 1px 10px 0 0;
}

.star>:last-child {
    font-weight: bold;
    color: black;
}

.star .icon-small {
    fill: white;
    height: 13px;
    opacity: 1;
    color: white;
    padding: 0 3px;
    margin-bottom: 2px;
}

.reviews .username {
    display: flex;
    flex-direction: row;
    opacity: .6;
    white-space: nowrap;
}

.reviews .username p {
    width: fit-content;
    font-size: small;
}

.product-page .productcategory {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

#category {
    margin-top: 40px;
}