@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

body {
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 3rem;
    height: 60px;
    box-shadow: inset 0 -1px 0 #e6e6e6;
    /* border: 1px solid black; */
    align-items: center;

}

.logo img {
    height: 50px;
}

.menuicon {
    display: none;
}

.nav-menu {
    width: auto;
    display: flex;
    height: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-menu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.nav-menu span{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.nav-menu a:hover {
    color: #7c3971;
    /* font-weight: bold; */
    transition: all 0.3s ease-in;
}
.search-bar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar #search{
    width: 80%;
    border: none;
    padding: 1px 25px;
    outline: none;
    font-size: medium;
    border-bottom: 1px solid black;
}
.search-bar #search-icon{
    position: relative;
    left: 20px;
    align-items: center;
}
.search-bar button{
    width: auto;
    padding: 3px 15px;
    color: white;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #7c3971;
}

main .slider{
    width: 90%;
    margin: 2rem 5%;
}
main .slider .images{
    height: 350px;
    overflow: hidden;
}
main .slider .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hero section */
.hero{
    width: 90%;
    height: auto;
    margin: 2rem 5%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.hero section{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
.hero :first-child{
    width: 70%;
}
.hero .hero-img{
    width: 30%;
}
.hero .hero-img img{
    width:200%;
    height: 200%;
    box-sizing: border-box;
}
.hero section h1{
    width: 100%;
    font-size: 60px;
    white-space: nowrap;
    margin: 7rem 3rem 1rem 3rem;
    text-transform: capitalize;
}
.hero #off{
    margin: 1rem 3rem 1rem 3rem;
    font-size: 50px;
}
.hero section p{
    font-size: 30px;
    margin: 0 3rem;
}
.hero section button{
    width: 30%;
    height: 50px;
    margin: 3rem 20% 3rem 30%;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #7c3971;
    color: white;
    border-radius: 4px;
}