@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
body{
    background-color: #ffffff;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 3rem;
    height: 60px;
    box-shadow: inset 0 -1px 0 #e6e6e6;
    /* border: 1px solid black; */
    align-items: center;

}
.logo img{
    height: 50px;
}
.menuicon{
    display: none;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.nav-menu a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;

}
.nav-menu a:hover{
    color:  #7c3971;
    /* font-weight: bold; */
    transition: all 0.3s ease-in;
}