@media (max-width: 768px) {

    nav {
        width: 100%;
        padding: .2rem .6rem;
        height: 30px;
        box-sizing: border-box;
        margin: 1px 1px;
        justify-content: space-evenly;
    }

    .logo img {
        height: 30px;
    }

    .nav-menu {
        display: none;
    }

    .menuicon {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        width: 30%;
        position: absolute;
        top: 35px;
        height: fit-content;
        background-color: white;
        right: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
        text-align: start;
        align-items: start;
    }

    .nav-menu a {
        text-decoration: none;
        color: black;
        font-size: 80%;
        font-weight: 500;

    }

    .nav-menu a:hover {
        color: #7c3971;
        /* font-weight: bold; */
        transition: all 0.3s ease-in;
    }

    .search-bar {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: baseline;
    }

    .search-bar #search {
        width: 80%;
        font-size: small;
        border: none;
        border-bottom: 1px solid #7c3971;
        outline: none;
        padding: 0 8%;
    }

    .search-bar #search-icon {
        position: relative;
        left: 6%;
        font-size: 60%;
    }

    .search-bar button {
        width: 20%;
        font-size: xx-small;
        border: none;
        outline: none;
        background-color: #7c3971;
        color: white;
        padding: 2.4px 0;
    }

    main .slider {
        width: 90%;
        margin: 1rem 5%;
        height: auto;
    }

    main .slider .images {
        height: auto;
        overflow: hidden;
    }

    main .slider .images img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .hero {
        width: 90%;
        height: auto;
        margin: .2rem 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid black; */
    }

    .hero section {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
    }

    .hero :first-child {
        width: 70%;
        height: 100%;
    }

    .hero .hero-img img {
        width: 200%;
        height: 200%;
        box-sizing: border-box;
    }

    .hero .hero-img {
        width: 30vw;
        height: 100%;
        align-items: baseline;
    }

    .hero section h1 {
        width: 100%;
        font-size: 100%;
        margin: 1rem 0 0 1rem;
        text-transform: capitalize;
        white-space: nowrap;
    }

    .hero #off {
        width: 50%;
        margin: .3rem 0 0 1rem;
        font-size: 54%;
    }

    .hero section p {
        font-size: 50%;
        margin: .3rem 0 0 1rem;
    }

    .hero section button {
        margin: 1rem;
        width: 30%;
        height: 20%;
        font-size: 10%;
        margin: 0.3rem 0 0 1rem;
        border: none;
        outline: none;
        background-color: #7c3971;
        color: white;
        border-radius: 2px;
        padding: 0;
    }

    /* cart styling none */
    .cart,
    .cart.active {
        width: 0%;
    }

    /* cart for mobile */

    .cart-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 0;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.8s;
        height: calc(100vh - 10vh);
        z-index: 1;
        background-color: #7c3971;
        color: white;
        top: 0;

    }

    .cart-mobile>* {
        margin: 10px;
    }

    .cart-mobile.active {
        width: 100vw;
    }

    .cart-mobile .cart-heading h1 {
        font-size: larger;
        text-align: center;
    }

    /* cart items mobile */

    .cart-mobile .cart-mobile-items {
        height: 80vh;
    }

    /* cart close styling */

    .cart-mobile .close-mobile {
        width: 100%;
        position: relative;
        height: 5%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .cart-mobile .close-mobile a {
        background-color: red;
        width: 40%;
        text-decoration: none;
        color: white;
        font-size: 10 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cart-mobile .close-mobile a:hover {
        color: greenyellow;
    }

    section{
        margin-bottom: 1rem;
    }


    /* product styling */
    .products,.products-2{
        width: 90%;
        margin: 0 5%;
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .products .heading,.products-2 .heading{
        width: 100%;
        font-size: small;
    }

    .product *{
        margin: 0;
    }

    .product{
        width: 20%;
        height: 50%;
        gap: 2%;
        display: flex;
        flex-direction: column;
    }
    .product img{
        width: 100%;
        height: 40%;
    }
    .product .description{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .product .description h3{
        font-size: 6px;
    }

    .product .description .rating{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 0;
    }

    .product .description .rating p svg{
        width: 4px;
        margin: 0;
    }
    .product .description .rating p{
        font-size: 4px;
        margin: 0;
        align-items: center;
    }

    .product .price h4{
        font-size: 6px;
    }

    footer{
    width: 100%;
    background-color: #1f1f1f;
    height: 30vh;
    box-sizing: border-box;
    padding: 5%;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    gap: 5%;
}
.footer div{
    height: auto;
    width: 30%;
    color: white;
    font-weight: bold;
}

.footer div a{
    text-decoration: none;
    color: white;
    font-size: xx-small;
    white-space: wrap;
}

.footer div a:hover{
    text-decoration: underline;
    text-decoration-color: red ;
}

.footer div .transparent{
    color: rgba(255, 255, 255, 0.507);
    height: 8px;
}

.footer div li{
    list-style: none;
    margin-bottom: .4rem;
    font-size: small;
    height: 8px;
    width: max-content;
}
.footer hr{
    display: none;
    margin: 0 .4rem ;
    rotate: calc(90deg)
}
.footer .social{
    margin-left: 40px;
}

.footer .social svg{
    height: 10px;
    margin-right: .8rem;
}

}

@media (min-width:426px) and (max-width: 768px) {

    .hero section h1 {
        width: 100%;
        font-size: 2.4rem;
        margin: 1rem 0 0 1rem;
        text-transform: capitalize;
        white-space: nowrap;
    }

    .hero #off {
        width: 50%;
        margin: .3rem 0 0 1rem;
        font-size: 1.7rem;
    }

    .hero section p {
        font-size: 1rem;
        margin: .3rem 0 0 1rem;
    }

    .hero section button {
        margin: 1rem;
        width: 50%;
        height: 50px;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: #7c3971;
        color: white;
        border-radius: 4px;
        padding: .5rem 0;
    }

    /* product styling */

    .products,.products-2{
        width: 90%;
        margin: 0 5%;
        display: flex;
        flex-direction: row;
        gap: 5%; 
    }

    .products .heading,.products-2 .heading{
        width: 100%;
        font-size: small;
    }

    .product *{
        margin: 0;
    }

    .product{
        width: 20%;
        height: 50%;
        gap: 8%;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    .product img{
        width: 100%;
        height: 40%;
    }
    .product .description{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .product .description h3{
        font-size: 18px;
    }

    .product .description .rating{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 0;
        margin: 0 0 0 6px;
    }

    .product .description .rating p svg{
        width: 12px;
        margin: 0;
    }
    .product .description .rating p{
        font-size: 12px;
        margin: 0;
        align-items: center;
    }

    .product .price h4{
        font-size: 18px;
    }

    footer{
    width: 100%;
    background-color: #1f1f1f;
    height: 60vh;
    box-sizing: border-box;
    padding: 5%;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer div{
    margin-bottom: 1rem;
    width: 30%;
    color: white;
    font-weight: bold;
}

.footer div a{
    text-decoration: none;
    color: white;
    font-size: medium;
}

.footer div a:hover{
    text-decoration: underline;
    text-decoration-color: red ;
}

.footer div .transparent{
    color: rgba(255, 255, 255, 0.507);
}

.footer div li{
    list-style: none;
    margin-bottom: 1rem;
}
.footer hr{
    margin: 0 1rem ;
}

.footer .social{
    margin: 0;
    width: 35%;
}
.footer .social svg{
    height: 30px;
    margin-right: 1rem;
}

}