@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    text-transform: capitalize;
}

body {
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 3rem;
    height: 60px;
    box-shadow: inset 0 -1px 0 #e6e6e6;
    /* border: 1px solid black; */
    align-items: center;

}

.logo img {
    height: 50px;
}

.menuicon {
    display: none;
}

.nav-menu {
    width: auto;
    display: flex;
    height: 20px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-menu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.nav-menu span{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.nav-menu a:hover {
    color: #7c3971;
    /* font-weight: bold; */
    transition: all 0.3s ease-in;
}
.search-bar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar #search{
    width: 80%;
    border: none;
    padding: 1px 25px;
    outline: none;
    font-size: medium;
    border-bottom: 1px solid black;
}
.search-bar #search-icon{
    position: relative;
    left: 20px;
    align-items: center;
}
.search-bar button{
    width: auto;
    padding: 3px 15px;
    color: white;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #7c3971;
}

main .slider{
    width: 90%;
    margin: 2rem 5%;
}
main .slider .images{
    height: 350px;
    overflow: hidden;
}
main .slider .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cart mobile display none in laptop view */
.cart-mobile{
    display: none;
}
/* cart floating */

.cart{
    background-color: #7c3971;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    /* border: 1px solid black; */
    height: calc(100vh - 10%);
    /* background-color: #ffffff; */
    box-shadow: -10px 10px 16px rgba(0, 0, 0, 0.926);
    transition: 0.8s;
    white-space: nowrap;
    right: 0;
    overflow: hidden;
}
.cart>*{
    margin: 10px;
}
.cart.active{
    right: 0;
    width: 20%;
}

/* cart heading my cart */

.mycart{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #ffffff;
}

/* cart items styling */

.cart .cart-items{
    height: 80%;
}

/* cart close styling */

.cart .close{
    width: 100%;
    position: relative;
    height: 5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cart .close a{
    background-color: red;
    width: 100%;
    text-decoration: none;
    font-size: 20%;
    color: white;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart .close a:hover{
    color: greenyellow;
}

/* hero section */
.hero{
    width: 90%;
    height: auto;
    margin: 2rem 5%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}
.hero section{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
.hero :first-child{
    width: 70%;
}
.hero .hero-img{
    width: 30%;
}
.hero .hero-img img{
    width:230%;
    box-sizing: border-box;
}
.hero section h1{
    width: 100%;
    font-size: 60px;
    white-space: nowrap;
    margin: 7rem 3rem 1rem 3rem;
    text-transform: capitalize;
}
.hero #off{
    margin: 1rem 3rem 1rem 3rem;
    font-size: 50px;
}
.hero section p{
    font-size: 30px;
    margin: 0 3rem;
}
.hero section button{
    width: 30%;
    height: 50px;
    margin: 3rem 20% 3rem 30%;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #7c3971;
    color: white;
    border-radius: 4px;
}
.hero section button:hover{
    scale: calc(1.05);
}


/* product styling */

.products,.products-2{
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.heading{
    width: 100%;
    font-size: 2vw;
}
/* product styling */
.product{
    width: 15%;
    height: 50vh;
    /* margin: 0 1%; */
    border-radius: 2px;
}
.products .product>*{
    margin: 5px;
}

.products-2 .product>*{  /* for section 2 */
    margin: 5px;
}
.product img{
    margin: 0 10px;
    width: 96%;
    height: 60%;
    object-fit: fill;
    border-radius: 5px;
}
.product img:hover{
    scale: calc(0.9);
    filter: drop-shadow(0 6px 10px rgba(0,0,0,.25))
}
.products .description{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    white-space: nowrap;
    overflow-x: scroll;
}

.products-2 .description {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    white-space: nowrap;
    overflow-x: scroll;
}

.products .description::-webkit-scrollbar,.products-2 .description::-webkit-scrollbar{
    display: none;
}

.products .description .rating{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 10px;
    gap: 10px;  
}
.products-2 .description .rating {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 10px;
    gap: 10px;
}
.products .description .info{
    margin: 10px;
    overflow-y: scroll;
    white-space: wrap;
    height:80px;
}
.products .description .info::-webkit-scrollbar{
    display: none;
}
.products .description .info p{
    font-weight: 400;
    font-size: 14px;
    height: 70px;
}
.product .description .rating p{
    font-size: 15px;
    font-weight: bold;
}
.product .description .price h4{
    font-weight: bold;
}