@media (max-width: 768px) {

    nav {
        width: 100%;
        padding: .2rem .6rem;
        height: 30px;
        box-sizing: border-box;
        margin: 1px 1px;
        justify-content: space-evenly;
    }

    .logo img {
        height: 30px;
    }

    .nav-menu {
        display: none;
    }

    .menuicon {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        width: 30%;
        position: absolute;
        top: 120px;
        right: 10px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
    }

    .nav-menu a {
        text-decoration: none;
        color: black;
        font-size: 80%;
        font-weight: 500;

    }

    .nav-menu a:hover {
        color: #7c3971;
        /* font-weight: bold; */
        transition: all 0.3s ease-in;
    }

    .search-bar {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: baseline;
    }

    .search-bar #search {
        width: 80%;
        font-size: small;
        border: none;
        border-bottom: 1px solid #7c3971;
        outline: none;
        padding: 0 8%;
    }

    .search-bar #search-icon {
        position: relative;
        left: 6%;
        font-size: 60%;
    }

    .search-bar button {
        width: 20%;
        font-size: xx-small;
        border: none;
        outline: none;
        background-color: #7c3971;
        color: white;
        padding: 2.4px 0;
    }

    main .slider {
        width: 90%;
        margin: 1rem 5%;
        height: auto;   
    }

    main .slider .images {
        height: auto;
        overflow: hidden;
    }

    main .slider .images img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .hero {
        width: 90%;
        height: auto;
        margin: .2rem 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid black; */
    }

    .hero section {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
    }
    .hero :first-child{
        width: 70%;
        height: 100%;
    }

    .hero .hero-img img {
        width: 200%;
        height:200%;
        box-sizing: border-box;
    }
    .hero .hero-img{
        width: 30vw;
        height: 100%;
        align-items: baseline;
    }

    .hero section h1 {
        width: 100%;
        font-size: 100%;
        margin: 1rem 0 0 1rem;
        text-transform: capitalize;
        white-space: nowrap;
    }
    .hero #off{
        width: 50%;
        margin: .3rem 0 0 1rem;
        font-size: 54%;
    }

    .hero section p {
        font-size: 50%;
        margin: .3rem 0 0 1rem;
    }

    .hero section button {
        margin: 1rem;
        width: 30%;
        height: 20%;
        font-size: 10%;
        margin: 0.3rem  0 0 1rem ;
        border: none;
        outline: none;
        background-color: #7c3971;
        color: white;
        border-radius: 2px;
        padding: 0;
    }
}

@media (min-width:426px) and ( max-width: 768px){
    
    .hero section h1 {
        width: 100%;
        font-size: 2.4rem;
        margin: 1rem 0 0 1rem;
        text-transform: capitalize;
        white-space: nowrap;
    }
    .hero #off{
        width: 50%;
        margin: .3rem 0 0 1rem;
        font-size: 1.7rem;
    }

    .hero section p {
        font-size: 1rem;
        margin: .3rem 0 0 1rem;
    }

    .hero section button {
        margin: 1rem;
        width: 50%;
        height: 50px;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: #7c3971;
        color: white;
        border-radius: 4px;
        padding: .5rem 0;
    }
}